body,
html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  height: 100%;
}

.button {
  border: none;
  outline: none;
  border-radius: 40px;
  font-size: 1em;
  padding: 1em 2em;
  color: #fff;
  background-color: #d81b60;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
}
.button:hover {
  background-color: #e81b60;
}
.button:active {
  background-color: #f81b60;
}

.header {
  padding: 2em;
  background-color: mediumslateblue;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.header__link {
  color: #fff;
}

.collection {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 3em;
}

.photo-container {
  width: 100%;
  margin-bottom: 0.5em;
  box-shadow: 1px 1px 3px #888;
}
.photo {
  display: block;
  width: 100%;
  height: auto;
}

@media only screen and (min-width: 30em) {
  .photo-container {
    height: 13em;
    width: initial;
    margin: 0.25em;
  }
  .photo {
    display: block;
    height: 100%;
    width: auto;
  }
}
@media (min-width: 54em) {
  .collection {
    padding: 1em;
  }
  .photo-container {
    height: 15em;
  }
}
@media (min-width: 72em) {
  .collection {
    padding: 2em;
  }
  .photo-container {
    height: 16em;
  }
}

.upload-button {
  border: none;
  outline: none;
  border-radius: 40px;
  font-size: 1.25em;
  padding: 1em 2em;
  color: #fff;
  background-color: #d81b60;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 5;
  will-change: transform;
}
.upload-button:hover {
  background-color: #e81b60;
}
.upload-button:active {
  background-color: #f81b60;
}

.delete-button {
  display: none;
  background-color: #d81b1b;
  position: fixed;
  top: 1em;
  right: 1em;
  z-index: 25;
  will-change: transform;
  font-size: 0.75em;
}
.delete-button--show {
  display: flex;
}
.delete-button:hover {
  background-color: #e81b1b;
}
.delete-button:active {
  background-color: #f81b1b;
}

@media (max-width: 30em) {
  .upload-button {
    padding: 1em;
  }
  .upload-button__text {
    display: none;
  }

  .delete-button {
    padding: 1em;
  }
  .delete-button__text {
    display: none;
  }
  .header {
    flex-direction: column;
  }
}
.dialog__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #000;
  z-index: 10;
  transition: 0.5s opacity ease-in;
}
.dialog__overlay--show {
  opacity: 0.85;
}
.dialog__image {
  z-index: 20;
  position: fixed;
  will-change: transform;
  transition: 0.3s all ease-in;
}
.dialog__image--full {
  top: 50vh !important;
  left: 50vw !important;
}
/* Login and registration */

.input {
  border: none;
  border-bottom: 2px solid #d81b60;
  padding: 1em;
  width: 80%;
  font-size: 1.25em;
}

.form-box {
  background-color: #fff;
  max-width: 25em;
  padding: 2em;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.25);
}
.box-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blue-bg {
  background-color: mediumslateblue;
}

.title {
  font-size: 4em;
  color: #fff;
  text-shadow: 10px 10px 0 rgba(0, 0, 0, 0.25);
}
